:root {
  box-sizing: border-box;

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);

  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;

  --fw-400: 400;
  --fw-600: 600;

  --flow-space: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;

  background-color: var(--violet);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--white);
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
}

h1 {
  font-size: var(--fs-600);
}

.page-container {
  max-width: 28.125rem;
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 2.25rem;
}

.page-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

.flow-content > * + * {
  margin-block-start: var(--flow-space);
}

.larger-space {
  --flow-space: 1.5rem;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header,
.footer {
  padding-block: 2rem;
}

.header__logo {
  max-width: 8rem;
}

.main {
  padding-block: 1.5rem;
  display: grid;
  gap: 3.875rem;
}

.main__content {
  text-align: center;
}

.btn {
  display: inline-block;
  padding-block: 0.8em;
  padding-inline: 3.5em;
  border-radius: 100vmax; /* makes a pill shape */
  background-color: var(--white);

  font-family: var(--ff-headings);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  color: var(--violet);
  text-decoration: none;

  box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 0.25);
}

.main__content .btn {
  /* Button is a bit wider in mobile layout */
  display: block;
  max-width: 16.5em;
  margin-inline: auto;
}

.footer-social {
  /* padding-block: 0.625rem; */
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.footer-social__link {
  --font-size: var(--fs-300);
  display: inline-block;
  border: 0.0625rem solid var(--white);
  border-radius: 50%;
  padding: 0.5rem;
}

.footer-social__img {
  max-width: var(--font-size);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--white);
}

@media screen and (min-width: 51em) {
  body {
    background-size: cover;
  }
}

@media screen and (min-width: 64em) {
  :root {
    --fs-400: 1.125rem;
    --fs-600: 2.5rem;
  }

  body {
    background-image: url(images/bg-desktop.svg);
    background-position: top left;
    background-size: cover;
  }

  .page-container {
    max-width: 100rem;
    padding-inline: 4.5rem;
  }

  .header {
    padding-block: 1.5rem;
  }

  .footer {
    padding-block-start: 0;
  }

  .header__logo {
    max-width: 13.5rem;
  }

  .main {
    --flow-space: 1.5rem;
    padding-block-start: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .main__content {
    text-align: start;
  }

  .main__title {
    margin-block-start: 2.75rem;
  }

  .btn {
    font-size: inherit;
  }

  .main__content .btn {
    display: inline-block;
    max-width: unset;
    margin-inline: unset;
  }

  .footer-social {
    justify-content: flex-end;
    gap: 1rem;
  }

  .footer-social__link {
    --font-size: var(--fs-400);
    padding: 0.625rem;
  }
}

@media screen and (min-width: 90em) {
  .header {
    padding-block: 3.25rem;
  }

  .main {
    grid-template-columns: 1.4fr 1fr;
  }
}
