:root {
  box-sizing: border-box;

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);

  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;

  --fw-400: 400;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;

  background-color: var(--violet);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;

  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--white);
  text-align: center;
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
}

h1 {
  font-size: var(--fs-600);
}

.container {
  max-width: 40rem;
  margin-inline: auto;
  padding-inline: 2.25rem;
}

.header,
.footer {
  padding-block: 2rem;
}

.main {
  padding-block: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 3.875rem;
}

.header__logo {
  max-width: 8rem;
}

.main__content {
  text-align: center;
}

.main__title {
  margin-block-start: 0;
}

.btn {
  display: inline-block;
  padding-block: 0.8em;
  padding-inline: 3.5em;
  border-radius: 100vmax; /* makes a pill shape */
  background-color: var(--white);

  font-family: var(--ff-headings);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  color: var(--violet);
  text-decoration: none;

  box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 0.25);
}

.main__content .btn {
  /* Button is a bit wider in mobile layout */
  display: block;
  max-width: 16.5em;
  margin-inline: auto;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
